# PostgreSQL
POSTGRES_USER=wine_user
POSTGRES_PASSWORD=test
POSTGRES_DB=wine_db

# App (optional overrides)
# DB_HOST=wine-db
# DB_PORT=5432
# DB_USER=wine_user
# DB_PASSWORD=wine_secret
# DB_NAME=wine_db
# PORT=8000
